<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <h3>LOGO RIPLEY</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Dashboard</p>
      <li>
        <a style="color: black" href="#">Transfers</a>
      </li>
      <li>
        <a style="color: black" href="#">Withdrawals</a>
      </li>
      <li>
        <a style="color: black" href="#">History</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        <a href="" class="download">Sign out</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <div class="container offset-md-2 mt-4">
      <div class="row">
        <div
          class="col-sm col-md-4 card text-dark bg-warning"
          style="text-align: center"
        >
          <div class="card-header fw-bold">Personal data</div>
          <div class="card-body">
            <p class="fs-6">Name: Mario G.</p>
            <p class="fs-6">Email: mgutierrs@gmail.com</p>
          </div>
        </div>
        <div
          class="col-sm offset-md-2 col-md-4 card text-dark bg-info"
          style="text-align: center"
        >
          <div class="card-header fw-bold">Account balances</div>
          <div class="card-body" style="text-align: center">
            <button type="button" class="btn btn-primary">
              Balance <span class="badge bg-secondary">$ 999.999</span>
              <span class="visually-hidden">More info</span>
            </button>
            <button type="button" class="btn btn-primary mt-2">
              Monthly withdrawals
              <span class="badge bg-secondary">$ 999.999</span>
              <span class="visually-hidden">More info</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="container text-center mt-4">
      <h2>FORMS</h2>
      <p>FORM CONTENT</p>
    </div>

    <div class="line"></div>
  </div>
</div>
