<nz-page-header nzTitle="Page Title">
  <nz-page-header-title>Banco Ripley</nz-page-header-title>
  <nz-page-header-content>
    <div nz-row>
      <div nz-col nzSpan="18"></div>
      <div nz-col nzSpan="6">
        <button nz-button nzType="primary">
          Login
          <i nz-icon nzType="login" nzTheme="outline"></i>
        </button>
        <button nz-button nzType="primary">
          Sign up
          <i nz-icon nzType="login" nzTheme="outline"></i>
        </button>
      </div>
    </div>
  </nz-page-header-content>
</nz-page-header>
